body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    width: 350px;
    height: 500px;
    min-width: 350px;
    min-height: 500px;
    border: 10px;
    background-color: #f1f1f8;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(235, 2, 2);
}

.resultado {
  width: 88%;
  height: 60px;
  font-weight: bold;
  font-size: 1.9rem;
  text-align: right;
  font-color: black;
  margin: 30px auto 15px 15px;
  border: 3px solid black;
  border-radius: 4px;
  background-color: rgb(180,232,180);
}

.botones {
  display: block;
  margin: 18px;
  margin-top: 30px;
  padding-bottom: 20px;
  justify-content: space-between;
}

.boton {
  width: 75px;
  margin-top: 5px;
  height: 75px;
  border-radius: 10px;
  border: 3px solid black;
}

p {
  font-size: 1.5rem;
}

.operador {
  background-color: yellow;
}